.video {
  position: relative;
}

.waves {
  top: 318px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 380px;

  @include media-query(phone, max){
    top: 40px;
  }

  &:after, &:before {
    content: '';
    display: block;
    width: 5042px;
    height: 142px;
    margin-top: 80px;
    background: url(/images/wave-red.svg) top left;

    @include media-query(phone, max){
      height: 71px;
      background-size: auto 71px;
    }
  }

  &:after {
    margin-top: -67px;
    background: url(/images/wave-blue.svg) top left;

    @include media-query(phone, max){
      margin-top: -25px;
      height: 71px;
      background-size: auto 71px;
    }
  }

  span:before, span:after{
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    background: linear-gradient(90deg, rgba(2,17,18,1) 0%, rgba(2,17,18,0) 100%);

    @include media-query(phone, max){
      display: none;
    }
  }

  span:after{
    left: auto;
    right: 0;
    background: linear-gradient(90deg, rgba(2,17,18,0) 0%, rgba(2,17,18,1) 100%);
  }
}

video {
  width: 100%;
  max-width: 675px;
  display: block;
  margin: 62px auto 90px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include media-query(phone, max){
    margin: 30px auto 60px;
  }
}

.play {
  width: 96px;
  height: 96px;
  background: url(/images/play-btn.svg);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -48px 0 0 -48px;
  box-shadow: 0px 0px 15px rgba(32, 223, 233, 0.5);
  border-radius: 50%;
  cursor: pointer;

  @include media-query(phone, max){
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    background-size: 64px;
  }

  &.active {
    display: none;
  }
}

.section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;

  @include media-query(phone, max){
    display: block;
  }

  &__content {
    flex: 1;

    p {
      color: #C0C4C4;
    }
  }

  > div:first-child {
    margin-right: 55px;

    @include media-query(phone, max){
      margin-right: 0;
    }
  }
}

.images-why {
  display: flex;
  align-items: center;

  @include media-query(phone, max){
    width: 362px;
    margin: 0 auto;
    padding: 0 0 20px 20px;
  }

  &__left {
    width: 106px;
    margin-left: -47px;
    transform: translateX(21px) translateY(79px);
    opacity: 0;
    transition: all 0.4s $ease;
  }
  
  &__center {
    width: 187px;
    transform: translateY(31px);
  }
  
  &__right {
    width: 128px;
    transform: translateX(-32px) translateY(5px);
    opacity: 0;
    transition: all 0.4s $ease;
    transition-delay: 0.2s;
  }

  &.active {
    .images-why__left {
      transform: translateX(47px) translateY(0px);
      opacity: 1;
    }

    .images-why__right {
      transform: translateX(-52px) translateY(69px);
      opacity: 1;
    }
  }
}

.who-are-we,
.work-here {
  transition: all 0.4s $ease;
  opacity: 0;
  transform: translateY(100px);

  &.active {
    opacity: 1;
    transform: translateY(0px);
  }
}

.who-are-we {
  display: block;

  .section__content {
    float: right;
    width: calc(100% - 344px);
    margin: 0 !important;

    @include media-query(phone, max){
      float: none;
      width: 100%;
    }
  }

  .section__aside {
    float: left;
    width: 200px;
    margin: 20px 56px 0 40px;

    @include media-query(phone, max){
      float: none;
      margin: 70px 0 0;
      width: 100%;
    }
  }
}

.images-who {
  position: relative;

  @include media-query(phone, max){
    margin: 0 auto;
  }

  &__center {
    width: 200px;
    margin: 0;

    @include media-query(phone, max){
      margin: 0 auto;
      display: block;
    }
  }
}

.images-work {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 322px;

  @include media-query(phone, max){
    margin: 20px auto;
    padding-bottom: 70px;
  }

  &__left {
    width: 149px;
    transform: translateX(47px) scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.3s $ease;
    transition-delay: 0.3s;
    margin-left: -47px;
  }
  
  &__center {
    width: 168px;
    transform: translateY(65px) translateX(51px) scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.3s $ease;
    transition-delay: 0.5s;
  }
  
  &__right {
    width: 119px;
    transform: translateX(-230px) translateY(148px) scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.3s $ease;
    transition-delay: 0.7s;
  }
}

.work-here.active {
  .images-work__left {
    transform: translateX(47px) scale(1);
  }

  .images-work__center {
    transform: translateY(65px) translateX(51px) scale(1);
  }

  .images-work__right {
    transform: translateX(-230px) translateY(148px) scale(1);
  }
}

.quotes {
  @include media-query(phone, max){
    position: relative;

    &:after {
      content: '';
      width: 100vw;
      height: 20px;
      background: $black;
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translateX(-50%) skew(0deg, 4deg);
    }
  }
}

.quote {
  display: flex;
  position: relative;
  margin: 142px 0 122px;
  padding: 60px 0;

  @include media-query(phone, max){
    display: block;
    margin: 12px 0 52px;
    padding: 30px 0;
  }

  &:before {
    content: '';
    width: 100vw;
    height: 100%;
    background: #07474A;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-150%) translateY(-7vw) skew(0deg, 4deg);
    transition: transform 0.5s $ease;
    z-index: -1;
  }

  &.active:before {
    transform: translateX(-50%) translateY(0px) skew(0deg, 4deg);
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    transform: translateX(-100px);
    transition: all 0.4s $ease;
    transition-delay: 0.4s;
    opacity: 0;
    position: relative;

    &:first-child {
      margin-top: 0;
      transition-delay: 0.2s;

      @include media-query(phone, max){
        margin-bottom: 77px;
      }
    }
  }

  &.active .quote__item {
    opacity: 1;
    transform: translateX(0px);
  }

  &__icon {
    margin-right: 34px;
    align-self: flex-start;
    margin-top: -18px;

    @include media-query(phone, max){
      margin-right: 15px;
      width: 75px;
    }
  }

  &__content {
    margin-right: 30px;

    @include media-query(phone, max){
      margin-right: 0;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.38px;

    @include media-query(phone, max){
      font-size: 18px;
      margin-top: 22px;
    }
  }
}

.user {
  display: flex;
  margin-top: 15px;

  @include media-query(phone, max){
    font-size: 13px;
  }

  &__icon {
    width: 53px;
    height: 53px;
    border-radius: 50%;
  }

  &__content {
    margin-left: 15px;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 3px;
  }
}

.perks {
  text-align: center;

  @include media-query(phone, max){
    text-align: left;
  }

  &__inner {
    border-top: 5px solid $secondary;
    background: #3D0016;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 60px;
    margin-bottom: 60px;

    @include media-query(phone, max){
      padding-top: 30px;
      margin-bottom: 0px;
    }
  }

  p {
    color: #C0C4C4;
  }

  &:after {
    content: '';
    display: block;
    width: 2280px;
    min-width: 200%;
    height: 107px;
    background: url(/images/waves.svg) top left;
    top: 55px;
    position: relative;
  }

  .card:nth-child(even) {
    transition-delay: 0.2s;
  }
}

.cards {
  @include group;
  margin: 60px 0 30px;

  @include media-query(phone, max){
    margin: 30px 0;
  }

  .card {
    float: left;
    width: calc(50% - 15px);
    background: $white;
    color: #535E5E;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: all 0.4s $ease;
    opacity: 0;
    transform: translateY(100px);
    position: relative;

    @include media-query(phone, max){
      width: 100%;
      margin-bottom: 15px;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &.active {
      opacity: 1;
      transform: translateY(0px);
    }

    &--clickable {
      transition: all 0.4s $ease;
      transform: scale(1);

      > a {
        @include fill();
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      padding: 30px;

      @include media-query(phone, max){
        padding: 15px;
      }
    }

    &__icon {
      margin-right: 30px;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: #FFD6E5;
      align-self: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-query(phone, max){
        width: 60px;
        height: 60px;
        margin-right: 15px;
      }

      svg {
        @include media-query(phone, max){
          width: 33px;
        }
      }
    }

    &__image {
      width: 205px;
      background-size: cover;
      background-position: center;
    }

    &__logo {
      width: 120px;
    }

    &__timestamp {
      float: right;
      font-size: 15px;
      line-height: 150%;
      color: #8A9191;
    }

    &__content {
      flex: 1;
      text-align: left;
    }

    &__title {
      color: $black;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 15px;

      @include media-query(phone, max){
        margin-bottom: 5px;
      }
    }
  }

  &--wide {
    .card {
      width: calc(100%);
    }
  }
}

.positions {
  background: $white;
  color: #535E5E;
  padding-top: 85px;

  h2 {
    color: $black;
    text-align: center;
  }

  h3 {
    color: $black;
  }
}

.accordion {
  border-top: 1px solid #DBDDDE;
  max-width: 735px;
  margin: 0 auto 60px;

  @include media-query(phone, max){
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: 30px;
  }

  &__header {
    border-bottom: 1px solid #DBDDDE;
    padding: 30px;
    position: relative;
    cursor: pointer;

    @include media-query(phone, max){
      padding: 30px 15px;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      margin-top: -8px;
      right: 30px;
      top: 50px;
      width: 24px;
      height: 2.5px;
      background: #20DFE9;
      border-radius: 1.25px;
      transform: rotateZ(0deg);
      transition: all 0.6s $ease;

      @include media-query(phone, max){
        right: 15px;
      }
    }

    &:after {
      transform: rotateZ(90deg);
    }

    h3 {
      margin: 0;
    }
  }

  &__content {
    transition: max-height 0.4s $ease;
    overflow: hidden;
  }

  &__inner {
    padding: 30px;

    @include media-query(phone, max){
      padding: 15px;
    }
  }

  &__item {
    &.active {
      background: #F6F7F7;
      mix-blend-mode: normal;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
      border-radius: 5px;

      .accordion__header:before {
        transform: rotateZ(180deg);
      }

      .accordion__header:after {
        transform: rotateZ(270deg);
        opacity: 0;
      }
    }
  }
}

.media {
  padding: 60px 0 0;

  &__inner {
    max-width: 675px;
  }

  h2 {
    margin-bottom: 60px;

    @include media-query(phone, max){
      margin-bottom: 30px;
      text-align: left;
    }
  }

  .card {
    &__inner {
      padding: 0;
      align-items: stretch;

      @include media-query(phone, max){
        display: block;
      }
    }
    &__image {
      @include media-query(phone, max){
        width: 100%;
        height: 30vw;
      }
    }

    &__content {
      margin: 30px;
      color: $black;
      font-size: 18px;
      line-height: 140%;
      
      @include media-query(phone, max){
        margin: 15px;
      }
    }
  }
}