

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 0px;
  transform-origin: 0 0;

  &:after{
    content: '';
    float: right;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    border-radius: 50%;
    background: #FF035E;
    transform-origin: 50% 50%;
  }
}

.dot-2:after {
  background: #20DFE9;
  margin-right: 20px;
  transform: scale(0.5);
}

.dot-3:after {
  background: #535E5E;
  margin-right: 14px;
  transform: scale(0.8);
}

.dot-4:after {
  background: #FFF;
  margin-right: 7px;
  transform: scale(0.6);
  opacity: 0.5;
}

.dot-5:after {
  background: #FF035E;
  margin-right: 18px;
  transform: scale(0.8);
}

.dot-6:after {
  background: #20DFE9;
  margin-right: 4px;
  transform: scale(0.7);
}

.dot-7:after {
  background: #FF035E;
  margin-right: 12px;
  transform: scale(1);
  opacity: 0.5;
}

.dot-8:after {
  background: #535E5E;
  margin-right: 17px;
  transform: scale(0.6);
  opacity: 0.5;
}

.dot-9:after {
  background: #FFF;
  margin-right: 2px;
  transform: scale(0.8);
}

.dot-10:after {
  background: #FF035E;
  margin-right: 8px;
  transform: scale(0.6);
}

.dot-11:after {
  background: #20DFE9;
  margin-right: 4px;
  transform: scale(0.8);
}

.dot-12:after {
  background: #FF035E;
  margin-right: 9px;
  transform: scale(0.5);
  opacity: 0.5;
}

.dot-13:after {
  background: #FFF;
  margin-right: 17px;
  transform: scale(0.8);
}

.dot-14:after {
  background: #535E5E;
  margin-right: 18px;
  transform: scale(0.6);
}

.dot-15:after {
  background: #535E5E;
  margin-right: 4px;
  transform: scale(1);
}

.dot-16:after {
  background: #FF035E;
  margin-right: 10px;
  transform: scale(0.5);
}

.dot-17:after {
  background: #20DFE9;
  opacity: 0.5;
  transform: scale(0.7);
  margin-right: 1px;
}

.dot-18:after {
  background: #FFF;
  margin-right: 15px;
  transform: scale(1.5);
}

.dot-19:after {
  background: #535E5E;
  margin-right: 11px;
  transform: scale(0.5);
}

.dot-20:after {
  background: #20DFE9;
  margin-right: 4px;
  transform: scale(0.5);
}

.dot-21:after {
  background: #FF035E;
  margin-right: 20px;
  transform: scale(0.7);
  opacity: 0.5;
}

.dot-22:after {
  background: #535E5E;
  margin-right: 8px;
  transform: scale(0.6);
}

.dot-23:after {
  background: #20DFE9;
  margin-right: 2px;
  transform: scale(0.8);
}

.dot-24:after {
  background: #FFF;
  margin-right: 16px;
  transform: scale(0.8);
}

.dot-25:after {
  background: #20DFE9;
  margin-right: 7px;
  transform: scale(1);
}

.dot-26:after {
  background: #20DFE9;
  margin-right: 14px;
  transform: scale(0.6);
  opacity: 0.5;
}

.dot-27:after {
  background: #FFF;
  margin-right: 3px;
  transform: scale(0.9);
}

.dot-28:after {
  background: #FF035E;
  margin-right: 5px;
  transform: scale(1.1);
}

.dot-29:after {
  background: #535E5E;
  margin-right: 12px;
  transform: scale(0.6);
}

.dot-30:after {
  background: #20DFE9;
  margin-right: 4px;
  transform: scale(0.7);
}

.dot-31:after {
  background: #FF035E;
  margin-right: 14px;
  transform: scale(0.5);
  opacity: 0.5;
}

.dot-32:after {
  background: #535E5E;
  margin-right: 9px;
  transform: scale(0.8);
}

.dot-33:after {
  background: #FFF;
  margin-right: 1px;
  transform: scale(0.8);
}

.dot-34:after {
  background: #20DFE9;
  margin-right: 2px;
  transform: scale(0.6);
}

.dot-35:after {
  background: #FF035E;
  margin-right: 7px;
  transform: scale(0.5);
}

.dot-36:after {
  background: #535E5E;
  margin-right: 4px;
  transform: scale(0.6);
  opacity: 0.5;
}