.footer {
  &__waves {
    width: 100%;
    min-width: 1440px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin: 30px auto 40px;

    @include media-query(phone, max){
      display: block;
      margin: 15px 0;
      text-align: center;
    }
  }

  &__logo p {
    margin-top: 10px;
    color: #C0C4C4;
  }

  &__social {
    margin-left: auto;

    li {
      @include clearlist();
      margin-left: 25px;

      @include media-query(phone, max){
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }
}

.facebook-icon:hover path {
  fill: #1877f2;
}

.instagram-icon:hover path {
  fill: #c32aa3;
}

.twitter-icon:hover path {
  fill: #1da1f2;
}