{% extends 'base.twig' %}

{% block content %}
<div class="content">
  <div class="intro intro--banner">
    <div class="inner intro__inner">
      <p class="size-35">Good things happen when we come together with purpose. Let’s dream big, think healthy, plan, create and cultivate. <b>For the greater good of our people and our planet.</b></p>
    </div>
  </div>

  <div class="servicecards">
    <div class="inner servicecards__inner">
      <div class="servicecard">
        <div class="servicecard__image">
          <a class="anchor" name="health"></a>
          <div class="image" style="background-image:url({{ site.theme.uri }}/images/Health@2x.png)"></div>
        </div>
        <div class="servicecard__content">
          <h2>Health</h2>
          <p><b>Strategies that create healthy foundations allowing your brand to make a greater difference.</b></p>
          <p>Research-driven strategies that help you reach your goals. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.</p>
          <br />
          <span class="button button--alt">
            <a href="/work">See the work</a>
          </span>
          <!--<a class="float-link" href="/work">How we work</a>-->
        </div>
      </div>
      <div class="servicecard">
        <div class="servicecard__image">
          <a class="anchor" name="wellness"></a>
          <div class="image" style="background-image:url({{ site.theme.uri }}/images/Wellness@2x.png)"></div>
        </div>
        <div class="servicecard__content">
          <h2>Wellness</h2>
          <p><b>Strategies that create healthy foundations allowing your brand to make a greater difference.</b></p>
          <p>Research-driven strategies that help you reach your goals. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.</p>
          <br />
          <span class="button button--alt">
            <a href="/work">See the work</a>
          </span>
          <!--<a class="float-link" href="/work">How we work</a>-->
        </div>
      </div>
      <div class="servicecard">
        <div class="servicecard__image">
          <a class="anchor" name="kindness"></a>
          <div class="image" style="background-image:url({{ site.theme.uri }}/images/Kindness@2x.png)"></div>
        </div>
        <div class="servicecard__content">
          <a name="grow"></a>
          <h2>Grow</h2>
          <p><b>Strategies that create healthy foundations allowing your brand to make a greater difference.</b></p>
          <p>Research-driven strategies that help you reach your goals. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet. Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.</p>
          <br />
          <span class="button button--alt">
            <a href="/work">See the work</a>
          </span>
          <!--<a class="float-link" href="/work">How we work</a>-->
        </div>
      </div>
    </div>
  </div>

  <div class="cta" style="background-image:url({{ site.theme.uri }}/images/CTA-bannerHWK@2x.png)">
    <div class="inner cta__inner">
      <div class="cta__title">Let's make a difference together.</div>
      <span class="button button--alt2">
        <a href="">Get in touch</a>
      </span>
    </div>
  </div>

</div>
{% endblock %}
